@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* thai */
  @font-face {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/prompt/v10/-W__XJnvUD7dzB2KdNodVkI.woff2)
      format("woff2");
    unicode-range: U+02D7, U+0303, U+0331, U+0E01-0E5B, U+200C-200D, U+25CC;
  }
  /* latin-ext */
  @font-face {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/prompt/v10/-W__XJnvUD7dzB2KbtodVkI.woff2)
      format("woff2");
    unicode-range:
      U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
      U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
      U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/prompt/v10/-W__XJnvUD7dzB2KYNod.woff2)
      format("woff2");
    unicode-range:
      U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
      U+2212, U+2215, U+FEFF, U+FFFD;
  }
}

@layer components {
  body {
    @apply selection:bg-primary font-prompt font-light selection:text-black;
  }

  .input {
    @apply focus-visible:ring-accent bg-primary/10 h-10 rounded-full p-4 outline-none ring-2 ring-black focus-visible:ring-4;
  }

  .radio {
    @apply peer-checked:bg-primary hover:bg-primary flex h-16 w-fit flex-col items-center justify-center gap-2 rounded-md border border-black bg-white p-2 transition-all hover:cursor-pointer hover:text-white hover:shadow-[0px_6px_0px_0px_rgba(0,0,0,1)] peer-checked:text-white peer-checked:shadow-[0px_4px_0px_0px_rgba(0,0,0,1)];
  }

  .label {
    @apply mb-1 text-sm font-normal;
  }

  .btn-submit {
    @apply bg-secondary h-12 w-full rounded-full border-2 border-black text-lg font-semibold tracking-wider transition-all hover:-translate-y-1 hover:shadow-[0px_12px_0px_1px_rgba(0,0,0,1)];
  }

  .result {
    @apply mx-auto mt-10 max-w-screen-md rounded-[32px] border-4 border-black bg-white p-8 shadow-[0px_16px_0px_0px_rgba(0,0,0,1)];
  }

  /* dropdown */

  .selection {
    @apply hover:bg-primary flex h-10 w-full items-center justify-between gap-3 border-2 border-black bg-primary/10 p-4 text-left;
  }

  .selection-arrow {
    @apply bg-primary pointer-events-none size-6 min-w-6 select-none rounded-full border-2 border-black p-1 text-black transition-all duration-300;
  }

  .dropdown-menu {
    @apply scrollbar-thumb-primary absolute top-[70px] z-50 max-h-[250px] w-full overflow-y-scroll rounded-b-[22px] border-2 border-black bg-white py-2 shadow-[0px_6px_0px_0px_rgba(0,0,0,1)] scrollbar-thin scrollbar-track-transparent;
  }

  .option {
    @apply hover:bg-primary w-full p-2 text-left hover:text-white;
  }
}
